[Desktop Entry]
Name=Frogger
Comment[ca]=Recreació del Frogger feta en html5
Exec=webapp-container --app-id="frogger.cibersheep" --fullscreen $@ index.html
Icon=images/icon.png
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Lomiri-Splash-Image=instructions/splash.svg
X-Lomiri-Splash-Color-Header=#c2d1d0
X-Lomiri-Splash-Color=#b6c4c3
X-Lomiri-Splash-Color-Footer=#8d99aa
